p
{
    color: red;
}

body
{
  background: lightblue;
}

.map
{
  position: absolute;
  margin-left: 33%;
  height: auto;
  width: auto;
  border-color: rgb(125, 121, 128);
  border-width: medium;
  border-radius: 12px;
  border-style: dashed;
}

.test1
{
  color: blue;
}
