/*  Body  */

body{
  background-color: white;
  color: black;
}

.corps{
  background: linear-gradient(to bottom right, rgb(1, 1, 10) 3%, rgb(3, 3, 29) 7%, rgb(3, 3, 165), rgb(3, 3, 39) 86%, rgb(1, 1, 12) 100%);
}

/*  Bannière du haut  */

.banniere{
  background-image: radial-gradient(circle at top left, black,rgb(3,3,165));
  top: 0;
  position: sticky;
  width: 100%;
  height: 100%;
  min-height: 75px;
  padding-bottom: 10px;
  color: white;
}

.banniere a{
  color: inherit;
  position: static;
  color: white;
}

.banniere h1{
  position: relative;
  text-align: center;
  padding-top: 28px;
  margin: auto;
}

.banniere img{
  width : 15%;
  height: 15%;
  float: right;
  margin-top: 15px;
  margin-right: 15px;
  margin-left: -100%;
  transition-property: transform;
  transition-duration: 2s;
  transition-timing-function: ease-in;
  position: relative;
  z-index: 100;
}

.banniere img:hover{
  transform: translateY(-200px);
}

/*  flexbox / MENU  */

.flexmenu{
  display: flex;
  flex-direction: line;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.flexmenu ul li{
  display: inline;
}

.flexmenu ul li a{
  padding: 5px;
  margin: 20px;
  text-decoration: white;
}

.flexmenu a:hover{
  background-color: white;
  border-radius: 10px;
  color: rgb(3,3,165);
  font-weight: bold;
}

/*  daltonie  */

.daltonie{
  text-align: center;
  font-weight: bold;
}

.daltonie a{
  color: black;
  padding: 3px;
}

.daltonie a:hover{
  color: white;
  background-color: rgb(6, 6, 114);
  border-radius: 5px;
}

/*  div */

.helidiv{
  text-align: center;
}

/*  articles  */

.artbleu{
  color: white;
  padding-top: 1%;
  padding-bottom: 1%;
}
.artbleu p{
  color: white;
}
.artbleu p a{
  color: white;
}
.artbleu p a:hover{
  color: red;
}
.artbleu li{
  color: white;
}

.artblanc{
  color: black;
  background-color: white;
  padding-top: 1%;
  padding-bottom: 1%;
}
.artblanc p{
  color: black;
}

/*  Titres  */

.titre{
  text-align: center;
}

.titreblanc{
  text-align: center;
  color: white;
}

/*  texte */

.texte{
  color: black;
  text-align: center;
  list-style-type: none;
}

/*  legende */

.legende{
  color: black;
}
.legendeblanc{
  color: white;
}

/*  images  */

.imageIntro{
  width: 60%;
  height: 60%;
  margin-top: 1%;
}

.helimage{
  width: 45%;
  height: 45%;
  margin-top: 2%;
  border-block-start-style: dashed;
  border-block-end-style: dashed;
}

.helimarque{
  width: 45%;
  text-align: center;
  margin-top: 2%;
  margin-bottom: 2%;
}

.fondmarque{
  background-color: white;
}

.png{
  max-width: 140px;
  max-height: 60px;
  width: 40%;
  height: auto;
}

/*  Formulaires / Connection  */

.formulaireInscription {
  background: linear-gradient(to bottom right, rgb(1, 1, 14) 3%, rgb(3, 3, 29) 7%, rgb(3, 3, 165), rgb(3, 3, 39) 86%, rgb(1, 1, 12) 100%);
  color: white;
  margin: 0 auto;
  width: 100%;
  text-align: center;
  padding-top: 2.5%;
  padding-bottom: 2.5%
}

.Connection{
  background: linear-gradient(to bottom right, rgb(1, 1, 14) 3%, rgb(3, 3, 29) 7%, rgb(3, 3, 165), rgb(3, 3, 39) 86%, rgb(1, 1, 12) 100%);
  color: white;
  margin: 0 auto;
  width: 100%;
  text-align: center;
  padding-top: 10%;
  padding-bottom: 10%;
}
.Connection a{
  color:white;
}

.Connection a:hover{
  color:rgb(3, 3, 165);
  font-weight: bold;
  background-color: white;
  border-radius: 7px;
}

.Chat{
  background: linear-gradient(to bottom right, rgb(1, 1, 14) 3%, rgb(3, 3, 29) 7%, rgb(3, 3, 165), rgb(3, 3, 39) 86%, rgb(1, 1, 12) 100%);
  color: white;
  margin: 0 auto;
  width: 100%;
  text-align: center;
  padding-top: 15%;
  padding-bottom: 15%;
}

.formulaireimage1{
  float: left;
  margin-right: -100%;
  margin-left: 3%;
  margin-top: 8%;
  width: 40%;
  height: 40%;
}

.formulaireimage2{
  float: right;
  margin-left: -100%;
  margin-right: 5%;
  margin-top: 7%;
}

#reponseT{
  text-align: center;
  background-color: green;
}

#affiche{
  text-align: center;
  background-color: Blue;
}

.chatimage1{
  float: left;
  margin-right: -100%;
  margin-left: 3%;
  margin-top: 10%;
  width: 35%;
  height: 35%;
}

.chatimage2{
  float: right;
  margin-left: -100%;
  margin-right: 1%;
  width: 45%;
  height: 45%;
}

/*  Bannière du bas */

.banniereEnBas
{
  background-image: radial-gradient(circle at bottom right, black,rgb(3,3,165));
  color: white;
  width: 100%;
  height: 100%;
  bottom: 0;
  padding: auto;
}

.banniereEnBas table
{
  width: inherit;
}

.banniereEnBas table tr th, .banniereEnBas table tr td
{
  text-align: center;
  width: 33%;
}
